<div class="d-flex flex-column align-items-center justify-content-center">
    <h1 class="text-center my-5">Home#index</h1>

    <div class="d-flex flex-column align-items-center justify-content-center">
     <% if Current.user %>
        <p class="text-center">Welcome, <%= Current.user.email %></p>
      <% else %>
        <p class="text-center">Please sign up or sign in</p>
      <% end %>
    </div>
</div>